# Basics #
API_ID =23898744  # https://my.telegram.org
API_HASH = "0b13c810c80b548604650cbe3c3db0c3" # https://my.telegram.org
BOT_TOKEN = ""7461358634:AAHqk9o56O33T6uy8h4rWFFs_GmNwlhzZXc

# Authorization # - List of id's, separated by space -
OWNER_ID =6169288210
SUDO_USERS = ""
EVERYONE_CHATS = ""

# Log Channel #
LOG_CHANNEL = 

# Database #
SESSION_NAME = "encoderbot"
MONGO_URI = ""

# Google Drive #
INDEX_URL = ""
DRIVE_DIR = ""

# Optional #
DOWNLOAD_DIR = "VideoEncoder/downloads/"
ENCODE_DIR = "VideoEncoder/encodes/"
